/*
 * color
 */
$color-black: #000;
$color-white: #fff;

$color-concrete: #f2f2f2;
$color-silver: #bbb;

// $color-violent-violet: #3a0e69;
$color-medium-purple: #a665ec;
$color-electric-violet: #801fe8;
// $color-jacarta: #4a2d69;
$color-purple-heart: #6418b5;

$color-pomegranate: #f44336;

/*
 * text
 */
$line-height: 1.2;
